/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <24 25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE  &kp N1     &kp N2  &kp N3          &kp N4     &kp N5                                                     &kp N6     &kp N7          &kp N8        &kp N9    &kp N0    &trans
&kp TAB    &kp Q      &kp W   &kp E           &kp R      &kp T                                                      &kp Y      &kp U           &kp I         &kp O     &kp P     &kp BSLH
&kp ESC    &kp A      &kp S   &kp D           &kp F      &kp G     &kp LCTRL  &kp LALT    &kp LGUI       &kp LCTRL  &kp H      &kp J           &kp K         &kp L     &kp SEMI  &kp APOS
&kp LSHFT  &kp Z      &kp X   &kp C           &kp V      &kp B                &kp HOME    &kp PAGE_UP               &kp N      &kp M           &kp COMMA     &kp DOT   &kp FSLH  &kp RSHFT
           &kp GRAVE  &trans  &kp LEFT_ARROW  &kp RIGHT  &kp BSPC  &kp DEL    &kp END     &kp PAGE_DOWN  &kp ENTER  &kp SPACE  &kp DOWN_ARROW  &kp UP_ARROW  &kp LBKT  &kp RBKT
            >;
        };
    };
};
