if DACTLY_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "dactly"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if DACTLY_RIGHT
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
endif

if DACTLY_LEFT || DACTLY_RIGHT

config ZMK_SPLIT
    default y

endif
